.body {
    background-color: #c7c7c7;
    min-width: 720px;
}
.instagram {
    font-family: 'Lobster', cursive;
}
.pills a{
    background-color: gray;
    color: gray;
    text-decoration: none;
    background-color: transparent;
}
.pills a:hover {
    color: #7e7e7e;
    text-decoration: underline;
}

 .pills .nav-pills .nav-link.active{
    color: #fff;
    background-color: #7e7e7e;
}
.pills .images-row {
    background-color: #c7c7c7;
}
.pills .dropdown {
    width: 720px;
}
.pills .dropdown .post-size{
    height: 730px;
}

.pills .dropdown .img-op2 {
    width: 100%;
    min-height: 410px;
    max-height: 410px;
}
.pills .dropdown .limit {
    min-height: 155px;
    max-height: 155px;
}